.authentication-container {
    max-width: 400px;
    height: 100vh;
    margin: 64px auto;
    padding: 32px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

.authentication-container h2 { 
    margin-bottom: 20px;
}


.authentication-form input, button {
    border: 1px solid #ccc;
}

.authentication-form input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 4px;
    
}

.authentication-form button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
}

.authentication-form button:hover {
    background-color: #ff6333;
    color: #fff;
}

