.header {
    background-color: #001f3f;
    padding: 20px 0;
    color: #fff;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-area img {
    border-radius: 50%;
}

.logo-area .logo-text {
    font-size: 24px;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
}

.login-button {
    background-color: #A020F0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #7224a3;
}

.register-button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #ff5722;
}