.searchbar-container {
    background-color: #fff;
    width: 90%;
    max-width: 1100px;
    margin: -60px auto 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.searchbar-tabs {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.searchbar-tabs .tab {
    background: transparent;
    border: none;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab.active {
    color: #c23c0b;
}

.searchbar-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    font-size: 15px;
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #ff7f50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.search-button:hover {
    background-color: #ff5722;
}